.signIn {
  background-image: url("https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: #ffffff4d;
  padding: 30px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1px;
}

/* .signUpLogo {
  width: 200px;
  object-fit: contain;
  padding: 10px 0px;
} */

/* input {
  padding: 5px;
  margin: 3px 0px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
} */

#login-btn {
  background-color: #1773ea;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;

  cursor: pointer;
  margin-top: 8px;
}

.loginform2 {
  background-color: #ffffff4d;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1px;
}
